*.DS_Store*
data.db-shm
data.db-wal
data_transact.db-shm
data_transact.db-wal
data_auth.db-shm
data_auth.db-wal
target*
pkg*
Cargo.lock
.env
ssl/*.pem
keys/*.p8
.vscode*
*.swiftpm/
*.swiftpm/*
*/.build
*/build
*/Packages
*xcuserdata/
*fastlane/*
*!fastlane/Fastfile
*!fastlane/Pluginfile
*.xcbkptlist
*.xcuserstate
cache/*