*node_modules*
*.DS_Store*
old/config.json
*.dccache*
old/data.db-shm
old/data.db-wal
old/data_transact.db-shm
old/data_transact.db-wal
old/data_auth.db-shm
old/data_auth.db-wal
old/images/*
old/backups/*
target/*
Cargo.lock