.joinCodeBox {
    display: flex;
    margin-top: 0.75rem;
}

input[type=number][kind=join] {
    width: 2rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;    
    border: 1px solid var(--inputColorSelected);
    border-radius: 0.25rem;
    margin: 0 0.25rem 0 0.25rem;
}

input[type=number][kind=join]::-webkit-inner-spin-button,
input[type=number][kind=join]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}