body {
    --fieldsetColor: rgba(0,0,0,0);
    --bodyColor: #121212;
    --textColor: #fff;
    --transparency: rgba(0,0,0,0);
    --defaultInputColor: #fff;
    --inputColorSelected: #ffb600;
    --gameFlairColor: #68c3e2;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (prefers-color-scheme: light) {
    body {
        --fieldsetColor: rgba(0,0,0,0);
        --bodyColor: #fff;
        --textColor: #000;
        --defaultInputColor: #000;
        --transparency: rgba(0,0,0,0);
        --inputColorSelected: #ffb600;
        --gameFlairColor: #68c3e2;
    }
}
body.dark-mode {
    --fieldsetColor: rgba(0,0,0,0);
    --bodyColor: #121212;
    --textColor: #fff;
    --transparency: rgba(0,0,0,0);
    --defaultInputColor: #fff;
    --inputColorSelected: #ffb600;
    --gameFlairColor: #68c3e2;
}
body.light-mode {
    --fieldsetColor: rgba(0,0,0,0);
    --bodyColor: #fff;
    --textColor: #000;
    --defaultInputColor: #000;
    --transparency: rgba(0,0,0,0);
    --inputColorSelected: #ffb600;
    --gameFlairColor: #68c3e2;
}
body.gruvbox {
    --fieldsetColor: rgba(0,0,0,0);
    --bodyColor: #282828;
    --textColor: #ebdbb2;
    --defaultInputColor: #000;
    --transparency: rgba(0,0,0,0);
    --inputColorSelected: #b8bb26;
    --gameFlairColor: #d3869b;
}
@font-face {
    font-family: 'raleway-300';
    src: url('fonts/Raleway-300.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'raleway-500';
    src: url('fonts/Raleway-500.ttf') format('truetype');
    font-display: swap;
}
body,
html {
    font-family: 'raleway-300';
}
body {
    background-color: var(--bodyColor);
    color: var(--textColor);
}
fieldset {
    border: var(--fieldsetColor);
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    background-color: var(--fieldsetColor);
}
h1 {
    text-align: center;
    font-family: 'raleway-500';
}
.container {
    justify-content: center;
    display: flex;
}
select {
    background-color: var(--transparency);
    border: none;
    color: var(--textColor);
    border-bottom: 2px solid var(--defaultInputColor);
}
input[type='text'] {
    border: none;
    background-color: var(--transparency);
    color: var(--textColor);
    border-bottom: 1px solid var(--defaultInputColor);
    width: 95%;
}
input[type='number'] {
    border: none;
    background-color: var(--transparency);
    color: var(--textColor);
    border-bottom: 1px solid var(--defaultInputColor);
    width: 95%;
}
input[type='tel'] {
    border: none;
    background-color: var(--transparency);
    color: var(--textColor);
    border-bottom: 1px solid var(--defaultInputColor);
    width: 95%;
}
input[type='number']:focus {
    background-color: var(--transparency);
    outline: none;
    border-bottom: 2px solid var(--inputColorSelected);
}
input[type='tel']:focus {
    background-color: var(--transparency);
    outline: none;
    border-bottom: 2px solid var(--inputColorSelected);
}
input[type='text']:focus {
    background-color: var(--transparency);
    outline: none;
    border-bottom: 2px solid var(--inputColorSelected);
}
select:focus {
    outline: none;
    border-bottom: 2px solid var(--inputColorSelected);
}
span {
    color: var(--textColor);
}
label {
    color: var(--textColor);
}
.gametitle {
    color: var(--inputColorSelected);
    font-family: 'raleway-500';
}
.gameflair1 {
    color: var(--gameFlairColor);
}
.checkbig {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
.smallerInput {
    min-width: 45% !important;
    max-width: 65% !important;
}
input,
select,
textarea {
    -webkit-border-radius: 0;
    border-radius: 0;
}
textarea {
    border: none;
    border-bottom: 1px solid var(--defaultInputColor);
    background-color: var(--transparency);
    color: var(--textColor);
    resize: none;
    width: 85vw;
}
textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--inputColorSelected);
}
input[type=checkbox]:checked,
input[type=radio]:checked {
    accent-color: var(--gameFlairColor) !important;
}
code {
    font-family:'SF Mono', SFMono-Regular, ui-monospace, Menlo, courier new, monospace;
}
label {
    font-weight: 700;
}