.login {
    min-width: 30vw;
}
.ci {
    background-color: color-mix(in srgb, var(--bodyColor) 85%, var(--textColor) 15%) !important;
    border: none !important;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    min-width: 30vw;
}
.buttonCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nextButton {
    min-width: 8vw;
    justify-self: center;
    position: absolute;
}
.nextButton:after {
    content: "next";
}
.nextStepPk {
    animation: nextToLeft forwards 0.5s cubic-bezier(0.5, 0, 1, 1);
    min-width: 13vw;
}
.nextStepPk:after {
    content: "use a passkey";
}
.nextStepPw {
    transform: translate(-11vw);
    animation: fadeIn forwards 0.5s cubic-bezier(0.5, 0, 1, 1);
}
.submitButton:after {
    content: "login" !important;
}
.unField, .unValue {
    text-align: left;
}
.unValue {
    margin-top: -0.7rem;
}
.fade {
    animation: fade forwards 0.5s cubic-bezier(0.5, 0, 1, 1);
}
.fadeIn {
    animation: fadeIn forwards 0.5s cubic-bezier(0.5, 0, 1, 1);
}
.moveDown {
    transform: translate(0, 5rem);
}
.dots-3 {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: var(--_g) 0% 50%, var(--_g) 50%  50%, var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: d3 1s infinite linear;
}
.shakeInput {
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(3px); }
    10% { transform: translate(-3px); }
    20% { transform: translate(3px); }
    30% { transform: translate(-3px); }
    40% { transform: translate(3px); }
    50% { transform: translate(-3px); }
    60% { transform: translate(3px); }
    70% { transform: translate(-3px); }
    80% { transform: translate(3px); }
    90% { transform: translate(-3px); }
    100% { transform: translate(3px); }
}
@keyframes d3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes nextToLeft {
    from {}
    to {
        transform: translate(10vw);
    }
}
@media (orientation : portrait) {
    .login {
        min-width: 70vw;
    }
    .ci {
        min-width: 70vw;
    }
    .nextButton {
        min-width: 20vw;
    }
    .nextStepPw {
        transform: translate(-27.5vw);
    }
    .nextStepPk {
        min-width: 30vw;
    }
    @keyframes nextToLeft {
        from {}
        to {
            transform: translate(22.5vw);
        }
    }
}