@font-face {
	font-family: 'raleway-300';
	src: url('fonts/Raleway-300.ttf') format('truetype');
}
@font-face {
	font-family: 'raleway-500';
	src: url('fonts/Raleway-500.ttf') format('truetype');
}

html,body {
	font-family: 'raleway-300';
}

body {
	background-color: #121212;
	color: #fff;
}

fieldset {
	border: #515151;
	border-width: 0.15rem;
	border-style: solid;
	border-radius: 1rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	background-color: #515151;
}

h1 {
	text-align: center;
	font-family: 'raleway-500';
}

.container {
	justify-content: center;
	display: flex;
}

select {
	background-color: #515151;
	border: none;
	color: #fff;
	border-bottom: 2px solid #fff;
}

button:active {
	background-color: #32cd32;
	color: #cd32cd;
}

input[type='text'] {
	border: none;
	background-color: #515151;
	color: #fff;
	border-bottom: 1px solid #fff;
}

input[type='number'] {
	border: none;
	background-color: #515151;
	color: #fff;
	border-bottom: 1px solid #fff;
}

input[type='tel'] {
	border: none;
	background-color: #515151;
	color: #fff;
	border-bottom: 1px solid #fff;
}

input[type='number']:focus {
	outline: none;
	border-bottom: 2px solid #93D500;
}

input[type='tel']:focus {
	outline: none;
	border-bottom: 2px solid #93D500;
}

input[type='text']:focus {
	outline: none;
	border-bottom: 2px solid #93D500;
}

select:focus {
	outline: none;
	border-bottom: 2px solid #93D500;
}
span {
	color: #fff;
}
label {
	color: #fff;
}
.gametitle {
	color: #FFB600;
	font-family: 'raleway-500';
}
.gameflair1 {
	color: #B14FC5;
}
.checkbig {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
}
