<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Scouting">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#121212" id="themeMeta">
    <link rel="stylesheet" href="float.min.css" type="text/css">
    <link rel="manifest" href="/app.webmanifest"/>
    <link rel="apple-touch-startup-image" href="public/launch.png">
    <script src="form.min.js"></script>
    <title>Confirm Delete - 766 Scouting</title>
    <style>
        body {
            vertical-align: middle;
        }
    </style>
</head>
    <body id="body" class="dark-mode">
        <script>themeHandle()</script>
        <h1 style="color: #FFB600">Please Confirm</h1>
        <h3 style="text-align: center;" class="gameflair1">You are about to delete a submission!</h3>
        <form action="/deleteSubmission" target="_self" method="post">
            <fieldset>
                <input type="text" name="db" value="<%= db %>" readonly>
                <input type="text" name="submissionID" value="<%= submissionID %>" readonly>
            </fieldset>
            <button type="submit" style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;">Confirm</button><br><br>   
            <button type="button" style="color: #fff; background-color: #E90202; border-radius: 0.5rem;; border-style: solid; border-color: #E90202; border-width: 0.875rem;; margin-top: 1rem;" onclick="goToHome()">Back</button><br><br>
        </form>
    </body>
</html>