<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="2023_float.css" type="text/css">
    <meta http-equiv="refresh" content="2;/" />
    <title>Access Denied!</title>
    <style>
        body {
            vertical-align: middle;
        }
    </style>
</head>
    <body>
        <h1 style="color: #FF0000">Access Denied!</h1>
        <h3 style="text-align: center;" class="gameflair1">You do not seem to be part of the Team 766 discord server!</h3>
        <h3>Request Details: <%= SubmissionDetails %></h3>
    </body>
</html>