<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="2023_float.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Match Scouting</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" href="public/launch.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Scouting">
    <link rel="manifest" href="/app.webmanifest"/>
</head>

<body>
    <form action="/submit" target="_self" method="POST" name="mainForm">
        <input type="text" value="main" name="formType" hidden>
        <h1 style="font-family: 'raleway-300'">2023 Scouting<br><span class="gametitle">CHARGED UP℠</span></h1><br>
        <h2 class="gameflair1">Pre-Match</h2>
        <fieldset>
            <label>Event Code</label><br>
            <select name="event">
                <option value="CADA" selected>CADA - Sacramento Regional</option>
                <option value="CASJ">CASJ - Silicon Valley Regional</option>
            </select>
        </fieldset>

        <fieldset>
            <label>Your Name<br></label>
            <input type="text" name="name" required>
        </fieldset>

        <fieldset>
            <label>Number of the Team you are Scouting<br></label>
            <input type="tel" name="team" required>
        </fieldset>

        <fieldset>
            <label>Match Number<br></label>
            <input type="tel" name="match" required class="smallerInput">
            <select name="level">
                <option value="practice">Practice</option>
                <option value="qualification" selected>Qual</option>
                <option value="quarterfinal">Quarterfinal</option>
                <option value="semifinal">Semifinal</option>
            </select>
        </fieldset><br>
        <h2 class="gameflair1">Match Scouting</h2>
        <fieldset>
            <label>During AUTO, the robot...<br></label>
            <br>
            <input value="true" type="checkbox" name="game1" class="checkbig"><span>&emsp;Completely left COMMUNITY (taxied)<br></span><br>
            <input value="true" type="checkbox" name="game2" class="checkbig"><span>&emsp;Scored on a bottom ROW<br></span><br>
            <input value="true" type="checkbox" name="game3" class="checkbig"><span>&emsp;Scored on a middle ROW<br></span><br>
            <input value="true" type="checkbox" name="game4" class="checkbig"><span>&emsp;Scored on a top ROW<br></span><br>
            <input value="0" type="radio" name="game5" class="checkbig" checked="checked"><span>&emsp;Was not DOCKED or ENGAGED<br></span><br>
            <input value="8" type="radio" name="game5" class="checkbig"><span>&emsp;Was DOCKED, not ENGAGED<br></span><br>
            <input value="12" type="radio" name="game5" class="checkbig"><span>&emsp;Was DOCKED and ENGAGED<br></span><br>
        </fieldset>
        <fieldset>
            <label>During TELEOP, the robot...<br></label>
            <br>
            <input value="true" type="checkbox" name="game6" class="checkbig"><span>&emsp;Scored on a bottom ROW<br></span><br>
            <input value="true" type="checkbox" name="game7" class="checkbig"><span>&emsp;Scored on a middle ROW<br></span><br>
            <input value="true" type="checkbox" name="game8" class="checkbig"><span>&emsp;Scored on a top ROW<br></span><br>
            <input value="true" type="checkbox" name="game9" class="checkbig"><span>&emsp;Alliance - COOPERTITION BONUS<br></span><br>
            <input value="0" type="radio" name="game10" class="checkbig" checked="checked"><span>&emsp;Was not DOCKED or ENGAGED<br></span><br>
            <input value="2" type="radio" name="game10" class="checkbig"><span>&emsp;Was PARKED (in COMMUNITY)<br></span><br>
            <input value="6" type="radio" name="game10" class="checkbig"><span>&emsp;Was DOCKED and not ENGAGED<br></span><br>
            <input value="10" type="radio" name="game10" class="checkbig"><span>&emsp;Was DOCKED and ENGAGED<br></span><br>
        </fieldset>
        
        <!--extra fields to use-->
        <input value="0" type="number" name="game12" hidden>
        <input value="0" type="number" name="game13" hidden>
        <input value="0" type="number" name="game14" hidden>
        <input value="0" type="number" name="game15" hidden>
        <input value="0" type="number" name="game16" hidden>
        <input value="0" type="number" name="game17" hidden>
        <input value="0" type="number" name="game18" hidden>
        <input value="0" type="number" name="game19" hidden>
        <input value="0" type="number" name="game20" hidden>
        <input value="0" type="number" name="game21" hidden>
        <input value="0" type="number" name="game22" hidden>
        <input value="0" type="number" name="game23" hidden>
        <input value="0" type="number" name="game24" hidden>
        <input value="0" type="number" name="game25" hidden>

        <input value="<%= discordID %>" type="number" name="discordID" hidden>
        <input value="<%= discordName %>" type="text" name="discordName" hidden>
        <input value="<%= discordTag %>" type="number" name="discordTag" hidden>
        <input value="<%= discordAvatarId %>" type="text" name="discordAvatarId" hidden>
        
        <br>
        <h2 class="gameflair1">Post Game</h2>
        <fieldset>
            <label>Estimate the cycle time of the robot</label><br>
            <input type="tel" name="game11" required class="smallerInput"> seconds
        </fieldset>
        <fieldset>
            <label>Thoughts about the teleop phase<br><br></label>
            <textarea rows="2" cols="35" name="teleop"></textarea>
        </fieldset>
        <fieldset>
            <label>Did the robot play defense? If so, what did they do, and did they get fouls?<br><br></label>
            <textarea rows="2" cols="35" name="defend"></textarea>
        </fieldset>
        <fieldset>
            <label>Thoughts about driving<br><br></label>
            <textarea rows="2" cols="35" name="driving"></textarea>
        </fieldset>
        <fieldset>
            <label>Overall assessment<br><br></label>
            <textarea rows="4" cols="35" name="overall"></textarea>
        </fieldset>
        <br>
        <p style="text-align:center">
            <input type="submit" value="Submit Form" style="color: white; background-color: #515151; border-radius: 0.5rem;; border-style: solid; border-color: #515151; border-width: 0.875rem;; margin-top: 1rem;"><br><br>
            <a href="/" style="color: white; background-color: #E90202; border-radius: 0.5rem;; border-style: solid; border-color: #E90202; border-width: 0.875rem; text-decoration: none;">back</a><br><br>
        </p>
    </form>
    <br><br>
</body>
</html>