<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHARGED UP Scouting Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="2023_float.css" type="text/css">
    <style>
        a,a:visited {
            text-align: center;
            text-decoration: none;
            font-size: 6vh;
            border-bottom: #fff;
            color: inherit
        }
        body {
            text-align: center;
            background-color: #121212;
        }
    </style>
</head>
<body>
    <div class="container" id="search" style="display: <%= displaySelect %>;"> <!--flex is shown-->
        <form>
            <h1 style="font-family: 'raleway-300'">2023 Matches<br><span class="gametitle">CHARGED UP℠</span></h1><br><br>
            <fieldset>
                <label>Event Code: </label><br>
                <select name="event">
                    <option value="CADA" selected>CADA - Sacramento Regional</option>
                    <option value="CASJ">CASJ - Silicon Valley Regional</option>
                </select><br>   
            <input type="submit" value="View Matches" style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;"><br>
            <button style="color: #000; background-color: #FFB600; border-radius: 0.5rem;; border-style: solid; border-color: #FFB600; border-width: 0.875rem;; margin-top: 1rem;" onclick="goToHome()">Back</button>
            </fieldset>
        </form>
        <br><br>
    </div>
    <div class="container" id="results" style="display: <%= displayResults %>;"> <!--flex is shown-->
        <div class="dummy">
            <h1 style="font-family: 'raleway-300'">2023 Matches<br><span class="gametitle">CHARGED UP℠</span></h1><br><br>
            <%- matchesBody %>
            <!--buttons-->
            <button style="color: #000; background-color: #68C3E2; border-radius: 0.5rem;; border-style: solid; border-color: #68C3E2; border-width: 0.875rem;; margin-top: 1rem;" onclick='goToHome()'>Back</button><br>
        <br><br>
    </div>
    </div>
    <script>
        function goToHome() {
            window.location.href = "/";
        }
    </script>
</body>
</html>