<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="2023_float.css" type="text/css">
    <title>Pit Scouting</title>
</head>

<body>
    <h1 style="font-family: 'raleway-300'">2023 Scouting<br><span class="gametitle">CHARGED UP℠</span></h1><br>
            <form action="/submitPit" target="_self" method="POST" enctype="multipart/form-data">
                <input type="text" value="pit" name="formType" hidden>
                <br>
                <h2 class="gameflair1">General Info</h2>
                <fieldset>
                    <label>Event Code</label><br>
                    <select name="event">
                        <option value="CADA" selected disabled>SELECT</option>
                        <option value="CADA">CADA - Sacramento Regional</option>
                        <option value="CASJ">CASJ - Silicon Valley Regional</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label>Your Name<br></label>
                    <input type="text" name="name" required>
                </fieldset>

                <fieldset>
                    <label>Number of the Team you are Scouting<br></label>
                    <input type="tel" name="team" required>
                </fieldset>

                <h2 class="gameflair1">Pit Scouting</h2>
                <h4 style="color: #a9a9a9;">&emsp;If you don't know the answer, just ask the team themselves</h4>

                <fieldset>
                    <label>Drive Type<br></label>
                    <select name="drivetype">
                        <option value="westcoast">Westcoast</option>
                        <option value="swerve">Swerve (Like Ours)</option>
                        <option value="other">Other (Explain in overall)</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label>Experience<br></label>
                    <input type="text" name="driveTeam" class="smallerInput"> Days of drive team work<br>
                    <input placeholder="0 or 1" type="text" name="attended" class="smallerInput"> Attended events
                </fieldset>

                <input value="0" type="number" name="game1" hidden>
                <input value="0" type="number" name="game2" hidden>
                <input value="0" type="number" name="game3" hidden>
                <input value="0" type="number" name="game4" hidden>
                <input value="0" type="number" name="game5" hidden>
                <input value="0" type="number" name="game6" hidden>
                <input value="0" type="number" name="game7" hidden>
                <input value="0" type="number" name="game8" hidden>
                <input value="0" type="number" name="game9" hidden>
                <input value="0" type="number" name="game10" hidden>
                <input value="0" type="number" name="game11" hidden>
                <input value="0" type="number" name="game12" hidden>
                <input value="0" type="number" name="game13" hidden>
                <input value="0" type="number" name="game14" hidden>
                <input value="0" type="number" name="game15" hidden>
                <input value="0" type="number" name="game16" hidden>
                <input value="0" type="number" name="game17" hidden>
                <input value="0" type="number" name="game18" hidden>
                <input value="0" type="number" name="game19" hidden>
                <input value="0" type="number" name="game20" hidden>

                <input value="<%= discordID %>" type="number" name="discordID" hidden>
                <input value="<%= discordName %>" type="text" name="discordName" hidden>
                <input value="<%= discordTag %>" type="number" name="discordTag" hidden>
                <input value="<%= discordAvatarId %>" type="text" name="discordAvatarId" hidden>

                <fieldset>
                    <label>Overall assessment<br></label>
                    <textarea rows="4" cols="38" name="overall"></textarea>
                </fieldset>

                <fieldset>
                    <label>Images</label>
                    <label>Image 1</label>
                    <input type="file" name="image1" accept="image/png, image/jpeg" required>
                    <label>Image 2</label>
                    <input type="file" name="image2" accept="image/png, image/jpeg" required>
                    <label>Image 3</label>
                    <input type="file" name="image3" accept="image/png, image/jpeg" required>
                    <label>Image 4</label>
                    <input type="file" name="image4" accept="image/png, image/jpeg" required>
                    <label>Image 5</label>
                    <input type="file" name="image5" accept="image/png, image/jpeg" required>
                </fieldset>

                <br>

                <p style="text-align:center">
                    <input type="submit" value="Submit Form" style="color: white; background-color: #515151; border-radius: 0.5rem; border-style: solid; border-color: #515151; border-width: 0.875rem;"><br><br>
                    <a href="/" style="color: white; background-color: #E90202; border-radius: 0.5rem; border-style: solid; border-color: #E90202; border-width: 0.875rem; text-decoration: none;">back</a><br><br>
                </p>
            </form>
            <br><br>
</body>

</html>