<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="2023_float.css" type="text/css">
    <meta http-equiv="refresh" content="2;/" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" href="public/launch.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Scouting">
    <link rel="manifest" href="/app.webmanifest"/>
    <title>Form Submitted!</title>
    <style>
        body {
            vertical-align: middle;
        }
    </style>
</head>
    <body>
        <h1 style="color: #FFB600">Submitted!</h1>
        <h3 style="text-align: center;" class="gameflair1">Redirecting...</h3>
        <h3 style="text-align: center;">Submission Details: <%= SubmissionDetails %></h3>
    </body>
</html>